/* CSS HEX */
/* --russian-violet: #231942ff;
--purple-navy: #5e548eff;
--purple-mountain-majesty: #9f86c0ff;
--lilac: #be95c4ff;
--pink-lavender: #e0b1cbff; */

nav {
    background-color: #5e548eff;
}

footer {
    background-color: #5e548eff;
}

.footer {
    margin: 25px;
}

.card {
    margin-top: : 50px;
}

.card {
    margin: 25px;
}

.card img {
    width: 100% !important;
    max-height: 232.170px;
}

.carousel-item img {
    max-height: 400px;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster Two', cursive;
}

p, a {
    font-family: 'Lato', sans-serif;
}

